<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/_head.ejs") %>
  <body>
    <%- include("./partials/_header.ejs") %>
    <section class="main">
      <div class="container">
        <a href="/add-student"
          ><button class="btn">
            <i class="fa-solid fa-user-plus"></i> Add Student
          </button></a
        >
        <table>
          <thead>
            <tr>
              <th>Roll No.</th>
              <th>Name</th>
              <th>Email</th>
              <th>Score</th>
              <th>Performance</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% if(students.length>0){ %> <% for(var i=0;i < students.length;i++)
            { %>
            <tr>
              <td><%= students[i].rollno %></td>
              <td><%= students[i].name %></td>
              <td><%= students[i].email %></td>
              <td><%= students[i].score %></td>
              <td><%= students[i].performance %></td>
              <td class="td-action">
                <a href="/update-student?id=<%= students[i]._id %>"
                  ><i class="fa-solid fa-pen-to-square"></i
                ></a>
                <a
                  class="deleteBtn"
                  data-target="<%= students[i]._id %>"
                  data-port="<%= port %>"
                  ><i class="fa-solid fa-xmark"></i
                ></a>
              </td>
            </tr>
            <% }}else{ %>
            <p class="alert">No records found</p>
            <% } %>
          </tbody>
        </table>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
