<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/_head.ejs") %>
  <body>
    <%- include("./partials/_header.ejs") %>
    <section class="main">
      <div class="container">
        <a href="/"
          ><button class="btn">
            <i class="fa-solid fa-people-group"></i> View All Students
          </button></a
        >
        <form method="POST" id="update-student">
          <h1 class="form-title">Update Student Details</h1>
          <h1 class="form-desc">Fill the fields below</h1>
          <div class="form-group">
            <label>Roll No</label>
            <input
              type="text"
              name="rollno"
              placeholder="102"
              value="<%= student.rollno %>"
            />
            <!--HIGHLY IMPORTANT TO GET THESE VALUES IN FRONTEND JS WHILE SERIALIZING FORM-->
            <input type="hidden" name="id" value="<%= student._id %>" />
            <input type="hidden" name="port" value="<%= port %>" />
          </div>
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              name="name"
              placeholder="John Doe"
              value="<%= student.name %>"
            />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              name="email"
              placeholder="johndoe234@gmail.com"
              value="<%= student.email %>"
            />
          </div>
          <div class="form-group">
            <label>Score</label>
            <input
              type="text"
              name="score"
              placeholder="90"
              value="<%= student.score %>"
            />
          </div>
          <div class="form-group radio-group">
            <label for="performance">Performance</label>
            <div class="radio">
              <input type="radio" name="performance" value="Poor" <%=
              student.performance=='Poor'?'checked':'' %> />
              <label for="performance">Poor</label>
            </div>
            <div class="radio">
              <input type="radio" name="performance" value="Fair" <%=
              student.performance=='Fair'?'checked':'' %>/>
              <label for="performance">Fair</label>
            </div>
            <div class="radio">
              <input type="radio" name="performance" value="Good" <%=
              student.performance=='Good'?'checked':'' %>/>
              <label for="performance">Good</label>
            </div>
            <div class="radio">
              <input type="radio" name="performance" value="Excellent" <%=
              student.performance=='Excellent'?'checked':'' %>/>
              <label for="performance">Excellent</label>
            </div>
          </div>
          <button class="btn-submit">Update</button>
        </form>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
